h1{
    font-size: 40px;
    text-align: center;
}

.btn{
    margin-left: 30%;
    margin-right: 30%;
    width: 100px;
    margin-top: 30px;
}

input[type="text"]{
    display: block;
    margin : 0 auto;
    width: 40%;
}


.button{
    float: right;
    margin-bottom: 10px;
}

th{
    border: black 1px solid;
    padding: 10px;
}